*.class

# Package Files
*.jar
*.war
*.ear

hs_err_pid*
target/
tmp/
# Gradle
**/build/
**/buildSrc/build
.gradle


# Eclipse
.classpath
.project
.settings/
.recommenders
.metadata

# Database files.
DB*
**/dependency-reduced-pom.xml
**/run
