# Data and Databases
/DB*
/LOG

# Admin
Archive

# Eclipse and development - currently included in git.
#.classpath
#.project
#.settings
#/src-dev

# maven
/target

# Java
*.class
*.jar
*.war
*.ear
/classes

# Temp and work files.
tmp
/target
