vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Sep 2005 13:49:56 -0000
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|logging.html Tutorial/basic_patterns.html Tutorial/union.html Tutorial/index.html lucene-arq.html cmds.html license.html Tutorial/data.html styles/site.css Tutorial/query1.html Tutorial/datasets.html RDQL/index.html documentation.html sparql-remote.html Tutorial/filters.html template.html programmatic.html Tutorial/page.html index.html Tutorial/results.html library-function.html support.html app_api.html architecture.html download.html FAQ.html writing_propfunc.html Drafts/index.html Tutorial/optionals.html extension.html support_request.html writing_functions.html library-propfunc.html
vti_author:SR|EMEA\\afs
vti_modifiedby:SR|EMEA\\afs
vti_timecreated:TR|09 Feb 2005 15:28:45 -0000
vti_nexttolasttimemodified:TR|26 Aug 2005 16:36:23 -0000
vti_cacheddtm:TX|22 Sep 2005 13:49:56 -0000
vti_filesize:IR|3086
