vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Feb 2005 15:28:45 -0000
vti_extenderversion:SR|6.0.2.6353
vti_author:SR|EMEA\\afs
vti_modifiedby:SR|EMEA\\afs
vti_timecreated:TR|09 Feb 2005 15:28:45 -0000
vti_cacheddtm:TX|09 Feb 2005 15:28:45 -0000
vti_filesize:IR|2479
vti_backlinkinfo:VX|
