/* Style sheet for Jena user manual documents */
/* CVS $Id: doc.css,v 1.5 2008-01-03 16:32:43 ian_dickinson Exp $ */

/* Media-specific rules */

/* Nice margin on web pages, don't bother for printed pages */
@media print {
    body { margin-left: 0; margin-right: 0; }
}

@media screen, projection {
    body { margin-left: 5%; margin-right: 5%; }
}

/* Non media-specific rules */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif ;
    font-size: 10pt ;
    color: black;
    background: white ;
}

/* Broswer CSS2 table support is rather "individual" */

table {
  font-family: Verdana, Arial, sans-serif ;
  font-size: 10pt ;
  border: black 1px solid;
  border-collapse: collapse;
  cellspacing: 0 ;
  cellpadding: 0 ;
}

td {
  border: #b0b0b0 1px dotted;
  border-collapse: collapse;
  empty-cells: show;
  padding: 5 ;
  spacing: 0 ;
  vertical-align:top;
  text-align: left;
  padding-left: 0.5em;
}


th {
  border-collapse: collapse;
  border: #909090 1px dotted;
  empty-cells: show;
  padding: 5 ;
  vertical-align:top;
  text-align:center;
}

/* definitions table */
.definitions {
    width: 650px;
}

/* two column table with a narrower left col */
.def1a {
    width: 200px;
}
.def1b {
    width: 450px;
}

/* two column table with a wider left col */
.def2a {
    width: 300px;
}
.def2b {
    width: 350px;
}


.noindent     { margin-left: -5% ; margin-right: -5%; }
.moreindent   { margin-left:  5% ; margin-right:  5%; }


/* Use this for the document title as displayed on the page at the top. */
h1 {
    font-size: 135%;
    font-weight: bold;
    color:#000;
    background:#CADFF4;
    padding: 1px;
    text-align:center;
}

h2 {
    font-size: 110%;
    font-weight: bold;
    color: #003399;
    background:#CADFF4;
    margin-bottom:5px;
}

h3, h4, h5 {
    font-size: 100%;
    font-weight: bold;
    margin-bottom:3px;
}

ul { list-style-type: disc }
dt { font-weight: bold }

/* Change background/foreground colour on hover */

A:link { color: rgb(0, 0, 255) }        /* for unvisited links */
A:hover { color: rgb(255, 0, 0) }       /* when mouse is over link */

/* No extra space between paragraphs : inherits from body */
.codesample {
    font-family: monospace;
    font-size: 10pt ;
}

pre {
    margin-top: 1 ;
    margin-bottom: 1 ;
    margin-left: 5ex ;
}

/* Some general utility definitions */
.centered {
    text-align: center;
}

.caption {
    text-align: center;
    font-size: smaller;
}

code {
    font-size: 10pt;
}

.footnote {
    font-size: smaller;
    border-top: thin solid gray;
}

