/* Jena web site style sheet */

/* (c) Copyright 2003, Hewlett-Packard Development Company LP */
/* $Id: site.css,v 1.6 2003-09-09 12:18:16 andy_seaborne Exp $ */


body {
    text-align: left;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size:10pt ;
    background: white;
    color: black;
    /*margin: 2ex ;*/
    margin: 0 ;
    margin: 1ex ;
    padding: 0 ;
}

#header {
    /* color:#FFFFFF ;
       background: #215E9B ; */
    color: black ;
    background: #CADFF4 ;    font-size: 16pt ; 
    font-weight: bold ;
    text-align: center ;
    padding-top: 5px;
    padding-bottom: 5px;
}

#footer {
    /* color:#FFFFFF ;
       background: #215E9B ; */
    color: black ;
    background: #CADFF4 ;
    font-size: 12pt ; 
    font-weight: bold ;
    text-align: center ;
    padding-top: 5px;
    padding-bottom: 5px;
    
}


#logos      { margin: 2ex ; }
#logos img  { vertical-align: top; border: 0 ; }

.left    { float: left }
.right   { float: right }
.center: { text-align: center ; }

#main { margin:0 ; padding: 0; background: white ; }

#content { font-size:10pt ;
           margin-top: 2ex ;
           margin-bottom: 2ex ;} 


.rule { line-height:0 ; border-bottom: 1px solid #DDD; }

/* Generic components for content div */

ul { list-style-type: disc }
/* Force this - IE seems to make it same as user font size otherwise */
li { line-height:14 pt ; }


#content p { margin-left: 2ex ; margin-right: 2ex ; 
             margin-top: 1ex ; margin-bottom: 1ex }

#content dt { font-weight: bold ; }

#content h1 {
    font-size: 12pt;
    font-weight: bold;
    color:#000;
    background: #CADFF4;
	/* background:#eeeeff; */
    padding-left: 1ex ;
    margin-top: 3ex ;
    margin-bottom: 1ex ;
}

#content h2 {
    font-size: 10pt ;
    font-weight: bold;
    color: #003399;
    background: #CADFF4;
	/* background:#eeeeff; */
    padding-left: 1ex ;
    margin-bottom:5px;
}

#content h3, h4, h5 {
    font-size: 10pt ;
    font-weight: italic;
    margin-bottom:3px;
	padding-left: 1ex ;
}

/* LHS navigation menu */

#leftnav {
    /*float: left;*/
    font-size: 9pt ;
    color: black;
    background: white;
    position: relative;
    font-weight:normal;
}

/*#leftnav .item{*/
.item {
    margin-top: 1ex ;
    margin-botton: 1ex ;
    padding-left: 2ex;
    padding-right: 1ex;
}

#leftnav .grouptitle {
    background: #CADFF4;
    color: black ;
    font-size: 10pt ; 
    font-weight: bold;
    padding-left: 1ex ;
    padding-right: 1ex ;
    text-indent: 0;
}

.spacer { font-size: 10pt ; padding: 0 ; margin: 0 ;}

#leftnav img { text-align: center ; margin: 2ex ; border: 1 solid #DDD ;}


/* breadcrumbs trail */
#trail {
	border-bottom: 1px solid #DDD;
    text-align: right;
    font-size: 9pt;
    text-decoration:none;
    font-weight:normal;
    padding-right: 2ex;
    padding-top: 0.25ex ;
    padding-bottom: 0.25ex ;
}

#trail a:link    { text-decoration:none; color:black; background: white; }
#trail a:active  { text-decoration:none; color:white; background: #039; }
#trail a:visited { text-decoration:none; color:black; background: white; }
#trail a:hover   { text-decoration:none; color:white; background: #039; }

/* Links */


a:active  { text-decoration:none; color:white; background: #039; }
a:hover   { text-decoration:none; color:white; background: #039; }

/* Table - for positioning */

#main table   { margin: 0 ; padding:0 ;
		  border-collapse: collapse;
		}
#main tr      { margin: 0 ; padding:0 ; }
#main td      { margin: 0 ; padding:0 ;
          text-align:left ; vertical-align: top ; 
        }


