/* Style sheet for Jena user manual documents */
/* (c) Copyright 2003, Hewlett-Packard Development Company LP */
/* $Id: $ */

/* Import the site style sheet to maintain global visual coherency */
@import "site.css";

/* Media-specific rules */

/* Nice margin on web pages, don't bother for printed pages */
@media print {
    body { margin-left: 0; margin-right: 0; }
}

@media screen, projection {
}

/* Non media-specific rules */

/* Broswer CSS2 table support is rather "individual" */

/* we want a bolder h1 style for long documents */
.sectionHeading {
    color: black ;
    background: #CADFF4 ;
    font-size: 16pt ;
    font-weight: bold ;
    text-align: center ;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
  border-color : black ;
  border-collapse: collapse;
  border-width: 1px;
  border: 1;
  cellspacing: 0 ;
  cellpadding: 0 ;
  margin-left: 2ex;
}

td {
  border-width: 1px ;
  border-collapse: collapse;
  border-color : #808080 ;
  empty-cells: show;
  padding: 5 ;
  spacing: 0 ;
  vertical-align:top;
  text-align:center;
}


th {
  border-collapse: collapse;
  border-width: 1px ;
  border-color: #808080 ;
  empty-cells: show;
  padding: 5 ;
  vertical-align:top;
  text-align:center;
}

ul { list-style-type: disc }
dt { font-weight: bold }

/* No extra space between paragraphs : inherits from body */
pre {
    font-family: monospace;
    font-size: 10pt ;
    margin-top: 1 ;
    margin-bottom: 0 ;
    margin-left: 2ex;
    }

/* Some general utility definitions */
.centered {
    text-align: center;
}

.caption {
    text-align: center;
    font-size: smaller;
}

code {
    font-size: 10pt;
}

.footnote {
    font-size: smaller;
    border-top: thin solid gray;
}