body
{
	margin: 1em;
}

h1
{
	font-size: 1.2em;
	letter-spacing: 0.1em
}

h2
{
	padding-top: 1em;
	font-size: 1em;
}

h3
{
	padding-top: 1em;
	font-size: smaller;
}

pre
{
	border: 1px solid #EEEEEE;
	background: #F5F5F5;
	padding: 1em;
}

table pre
{
	padding: 1em;
	margin-bottom: 0; 
	border-color: white; 
	background-color: white
}

img
{
	border-width: 0px;
}

table
{
	border-collapse: collapse;
}

tr th
{
	border: 1px solid #EEEEEE;
	background-color: #F5F5F5;
	padding: 0.25em 1em 0.25em 1em;
	font-size: smaller;
}

tr td
{
	border: 1px solid #EEEEEE;
	padding: 0.25em 1em 0.25em 1em;
	vertical-align: top;
	font-size: smaller;
}

li
{
	padding-bottom: 0.25em;
}

dt
{
	padding-bottom: 0.25em;
}

dd
{
	padding-bottom: 0.25em;
}


.date
{
	font-style: italic;
}

.warn
{
	color: red;
}


#footer
{
	font-size: smaller; 
	margin-top: 2em;
	margin-bottom: 1em;
}

#footer a:link, #footer a:visited
{
	color: black;
}
