<configuration>

    <logger name="hsqldb.db.HSQLDB4AD417742A.ENGINE" level="ERROR" />
    <logger name="org.apache.jena.tdb.base.file.BlockAccessMapped" level="ERROR" />
    <logger name="org.apache.jena.info" level="ERROR" />
    <logger name="org.apache.jena.shared.LockMRSW" level="ERROR" />
    <logger name="org.apache.jena.util.FileManager" level="ERROR" />
    <logger name="org.apache.jena.riot.system.stream.JenaIOEnvironment" level="ERROR" />
    <logger name="org.apache.jena.reasoner.rulesys.FBRuleInfGraph" level="ERROR" />
    <logger name="org.apache.jena.tdb.transaction.JournalControl" level="ERROR" />
    <logger name="org.apache.jena.tdb.transaction.NodeTableTrans" level="ERROR" />
    <logger name="org.apache.jena.tdb.transaction.TransactionManager" level="ERROR" />
    <logger name="org.apache.jena.util.LocationMapper" level="ERROR" />
    <logger name="org.apache.jena.sparql.core.mem.PMapTripleTable" level="ERROR" />
    <logger name="org.apache.jena.sparql.core.mem.PMapQuadTable" level="ERROR" />
    <logger name="TDB" level="ERROR" />
    <logger name="io.github.galbiston.geosparql_jena.implementation.data_conversion.ConvertData" level="ERROR" />
    <logger name="io.github.galbiston.geosparql_jena.configuration.GeoSPARQLOperations" level="ERROR" />
 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
