# Some tests require exact line endings
# GIT will by default override the line endings with the platform default
# So tell it not to for those files.

testing/RIOT/Lang/TrigStd/trig-subm-15.trig     text eol=lf
testing/RIOT/Lang/TrigStd/trig-subm-16.trig     text eol=lf

testing/RIOT/Lang/TurtleStd/turtle-subm-15.ttl  text eol=lf
testing/RIOT/Lang/TurtleStd/turtle-subm-16.ttl  text eol=lf

testing/RIOT/Lang/TrigStd/literal_with_LINE_FEED.trig    text eol=lf
testing/RIOT/Lang/TurtleStd/literal_with_LINE_FEED.ttl   text eol=lf

testing/RIOT/Lang/TurtleSubm/test-17.ttl        text eol=lf
testing/RIOT/Lang/TurtleSubm/test-18.ttl        text eol=lf


