## Licensed under the terms of http://www.apache.org/licenses/LICENSE-2.0

name: Apache Jena CI (MS Windows)
on: workflow_dispatch

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]

    # "windows" takes up a lot of diskspace due a longstanding JDK issue
    # Running on c: seems to work.
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: copy checked out dir to /c/jena for windows-latest
      run: bash -c "cp -r /d/a/jena/jena /c/jena"

    - name: Build with Maven for windows-latest
      # If Windows and java 11, then MJAVADOC-586 / JDK issue.
      run: bash -c "mvn -B --file pom.xml -Dmaven.javadoc.skip=true verify"
      working-directory: c:\jena
